<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        body { font-family: Arial; background:#f4f6f8; text-align:center; }
        .box { margin:100px auto; padding:30px; background:white; width:300px; border-radius:10px; box-shadow:0 0 10px #ccc; }
        a { display:block; margin-top:20px; padding:10px; background:#007bff; color:white; text-decoration:none; border-radius:5px; }
    </style>
</head>
<body>
    <div class="box">
        <h2>Изпитни въпроси 2-ра част адреси на обекти в София
        </h2>
        <p>Въпроси в базата: {{ count }}</p>
        <a href="/start">▶ Стартирай тест</a>
    </div>
</body>
</html>